// Admin & Block
body.post-type-deck {
  .editor-styles-wrapper {
	.wp-block-post-content {
	  display: flex;
	  flex-wrap: wrap;
	  margin-left: -0.4rem;
	  margin-right: -0.4rem;
	  margin-top: 0;
	  height: 55vh;
	  justify-content: center;
	  align-items: center;

	  .wp-block-strategydeck-deck-card {
	  }
	}
  }
}

// Frontend only
#deck-form {
  .wp-block-strategydeck-deck-card {
	label {
	  pointer-events: none;
	}
  }
}

// block
.wp-block-strategydeck-deck-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 10vw;
  min-height: 70px;
  max-height: 115px;
  max-width: 205px !important;
  margin: 0 0.5rem 1rem;

  label {
	transition: all 0.25s ease-in-out;
	display: inline-block;
	color: #b1a57e;
	margin-bottom: 0 !important;
	padding: 3px 5px;
	line-height: 1;
	font-size: 1.375rem;
	z-index: 20;
  }

  input {
	transition: all 0.25s ease-in-out;
	background-color: #fff9f1;
	appearance: none;
	border: solid 3px #b1a57e;
	border-radius: 8px;
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 10;
	box-shadow: 6px 6px 24px -10px rgba(0, 0, 0, 0.5);

	&::before {
	  display: none !important;
	}

	&:hover,
	&:checked {
	  border-color: #3e5e6f;
	  cursor: pointer;
	  box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.75);

	  + label {
		color: #3e5e6f !important;
	  }
	}

	&:checked {
	  background-color: #e8f3f3;
	}
  }

  span.notice {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 25;
  }

  @media (min-width: 768px) {
	flex: 0 0 auto;
	width: 16.6667% !important;
  }
}

$spinnerSize: 20;

svg.spinner {
  width: $spinnerSize + px;
  height: $spinnerSize + px;
  x: 0px;
  y: 0px;
  viewBox: 0 0 $spinnerSize $spinnerSize;

  circle {
	fill: transparent;
	stroke: #3e5e6f;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-dasharray: (3.14 * $spinnerSize);
	transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
	animation: spinner 1.5s linear infinite;
  }
}

@keyframes spinner {
  0% {
	transform: rotate(0deg);
	stroke-dashoffset: (0.66 * $spinnerSize);
  } 50% {
	  transform: rotate(720deg);
	  stroke-dashoffset: (3.14 * $spinnerSize);
	} 100% {
		transform: rotate(1080deg);
		stroke-dashoffset: (0.66 * $spinnerSize);
	  }
}
