// This stylesheet is used to style the admin of WordPress.

// Admin & Block
body.post-type-deck {
  .editor-styles-wrapper {
	.wp-block-post-content {
	  display: flex;
	  flex-wrap: wrap;
	  margin-left: -0.4rem;
	  margin-right: -0.4rem;
	  margin-top: 0;
	  height: 55vh;
	  justify-content: center;
	  align-items: center;

	  .wp-block-strategydeck-deck-card {
	  }
	}
  }
}

// block
.wp-block-strategydeck-deck-card {
  transition: all 0.5s ease-in-out;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: solid 2px #b1a57e;
  height: 10vw;
  min-height: 70px;
  max-height: 115px;
  max-width: 205px;
  margin: 0 auto;

  label {
	transition: all 0.5s ease-in-out;
	display: inline-block;
	margin-bottom: 0 !important;
	padding: 3px 5px;
	line-height: 1;
	font-size: 1.375rem;
  }

  input {
	background: transparent;
	appearance: none;
	border: none;
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 10;

	&:hover {
	  cursor: pointer;
	}
  }

  &:hover {
	border-color: #3e5e6f;

	label {
	  color: #3e5e6f !important;
	}
  }

  @media (min-width: 768px) {
	flex: 0 0 auto;
	width: 16.6667% !important;
  }
}
